* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  background-color: white;
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
}
h1 {
  text-align: center;
  margin-top: 1%;
  border-top: 4px solid #2d8ddb;
  border-bottom: 4px solid #f4c20d;
  background-color: #da2a2a;
  color: white;
}
#main {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto; 
  grid-template-rows: auto auto auto; 
  margin: 0;
  width: 100%;
  height: unset;
  padding: 1%;
  grid-gap: 0.5%;
  background-color: #da2a2a;
  border-top: 4px solid #2d8ddb;
  border-bottom: 4px solid #f4c20d;

}

#menu {
  grid-row-start:1;
  grid-row-end: 2;
  grid-column-start:1;
  grid-column-end:4;
  width: 100%;
  font-size: 1.1em;
  color: white;
}
#alphabetlist {
  font-size: 1.1em;
  background-color: #2d8ddb;
  color: white;
  border: unset;
}
#alphabetlist option{
  font-size: 1.1em;
  font-weight: bold;
}
#testbutton {
  grid-row-start:1;
  grid-row-end: 2;
  grid-column-start:4;
  grid-column-end:5;
  width: 100%;
  height: 100%; 
  color: white;
  font-size: 2em;
  background-color: #2d8ddb;
  border: 2px solid white;
}
#testbutton:hover {
  background-color: #59a3e0;
  cursor: pointer;
}
#optionsmail {
  grid-row-start:2;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end: 2;
  font-size: 1.1em;
  color: white;
  background-color: #2d8ddb;
  border: 2px solid white;
}

#clearall {
  grid-row-start:2;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end:3;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.2em;
  background-color: #3cba54;
  border: 2px solid white;
}
#clearall:hover {
  background-color: rgb(51, 218, 51);
  cursor: pointer;
}
#number {
  grid-row-start:2;
  grid-row-end: 3;
  grid-column-start:3;
  grid-column-end:4;
  width: 70%;
  height: 100%;
  margin-right: -20%;
  font-size: 1.2em;
  color: white;
  padding: 0;
  line-height: 200%;
}
#numberemails {
  display: inline;
}
#numberemailsn {
  padding-left: 10px;
}
#copybutton {
  grid-row-start:2;
  grid-row-end: 3;
  grid-column-start:4;
  grid-column-end:5;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.2em;
  background-color: #f4c20d;
  border: 2px solid white;
}
#copybutton:hover {
  background-color: #f7d250;
  cursor: pointer;
}
#datatext {
  grid-row-start: 3;
  grid-row-end: 4;  
  grid-column-start:1;
  grid-column-end: 3;
  height: 400px;
  resize: none;
  color: black;
}
#emails {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
  height: 400px;
  resize: none;
  color: black;
}
