* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
body {
  padding: 10px;
  color: #ffffff;
  background-image: url(imagens/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
button, select {
  color: #ffffff;
  font-size: 1.2rem;
  border: 2px solid #ffffff;
}
button:hover, select:hover {
  cursor: pointer;
}
h1, #main, #footer {
  border-top: 4px solid #2d8ddb;
  border-bottom: 4px solid #2d8ddb;
  background-color: #88bbd6;
  opacity: 0.88;
}
#img-logo {
  margin: 0;
  width: 5rem;
  vertical-align: middle;
}
h1 {
  text-align: center;
  margin-top: 1%;
  font-size: 2rem;
}
#datatext, #emails {
  display: block;
  width: 48%;
  margin: 0 1%;
  height: 400px;
  resize: none;
  color: black;
  font-size: 1rem;
}
#alphabetlist, #testbutton, #optionsmail  {
  background-color: #2d8ddb;
}
#alphabetlist, #number, #separator {
  font-size: 1.1rem;
}

.menu-boxs {
  display: inline-block;
  margin: 5px 0;
}
.menu-boxs::before {
  content: "|"
}
#separator {
  background-color:#2d8ddb;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-weight: 900;
}
#main {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  height: unset;
  padding: 5px;
  overflow: hidden;
}

#menu {
  margin-left: 1%;
  display: block;
  float: left;
  font-size: 1.1rem;
  width: 69%;
}
#testbutton {
  display: block;
  float: left;
  margin: 0 auto;
  width: 29%;
  font-size: 2rem;
}
#testbutton:hover {
  background-color: #59a3e0;
}
#optionsmail {
  margin-left: 1%;
  width: 23%;
  display: block;
  clear: both;
  float: left;
}
#clearall {
  display: block;
  float: left;
  margin-left: 1%;
  margin-right: 2%;
  width: 24%;
  background-color: #3cba54;
}
#clearall:hover {
  background-color: rgb(51, 218, 51);
}
#number {
  display: block;
  float: left;
  position: relative;
  width: 23%;
  height: auto;
  margin: 0;
  margin-left: 1%;
  padding: 0;
}
#numberemails {
  text-align: center;
  margin:0;
}
#numberemailsn {
  font-size: 1.2rem;
}
#copybutton {
  display: block;
  float: left;
  width: 23%;
  background-color: #f4c20d;
  margin-left: 1%;

}
#copybutton:hover {
  background-color: #f7d250;
}
#datatext {
  clear: both;
  float: left;
}
#emails {
  float: left;
}
#footer {
  display: block;
  width: 100%;
  width: auto;
  margin-top: 10px;
  padding: 0 10px;
}
#footer-text {
  font-size: 1.2rem;
  text-align: center;
}
@media screen and (max-width: 700px){
  html, body {font-size: 10px;}
  #testbutton {
    margin-top: 50px;
  }  

}
@media screen and (max-width: 500px){
  html, body {font-size: 8px;}
  #testbutton {
    width: 98%;
    margin-top: 0;
    margin-left: 1%;
    margin-bottom: 10px;
    font-size: 2rem;
  }  

}
@media screen and (max-width: 420px){
  #menu {
    clear: both;
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 10px;

  }  
  #optionsmail {
    clear: both;
    width: 49%;
    margin-bottom: 10px;

  }
  #clearall {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10px;
    width: 48%;
  }
  #datatext {
    width: 90%;
    font-size: 1.3rem;
    height: 200px;
    margin-bottom: 10px;

  }  
  #testbutton {
    width: 98%;
    margin-left: 1%;
    margin-bottom: 10px;
    font-size: 2rem;
  }  
  #number {
    clear: both;
    margin-left: 1%;
    margin-bottom: 10px;
    width: 49%;
  }
  #numberemailsn {
    font-size: 1.5rem;
  }  
  #copybutton {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    margin-bottom: 10px;
  }
  #emails {
    width: 90%;
    font-size: 1.4rem;
    height: 300px;
  }
  button, select {
    font-size: 1.5rem;
  }  
} 